 body{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(216, 218, 216);
    color: rgb(132, 113, 113);
    text-align: center;


}
