 body{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(43, 48, 43);
    color: rgb(231, 221, 221);
    text-align: center;


}
